.card{
    width: 100%;
    height: 280px;
    margin: auto;
    
}
.service{
    border: 1px solid orange;
    text-align: center;
    padding-bottom: 40px;
}
.service h2{
    margin-top: 20px;
}
.service-button{
    background-color: orange;
    border: none;
    padding: 5px 20px;
    border-radius: 5px;
    color: #fff;
}