.top-banner{
    background-image: url('../../../images/banner-2.jpg');
    width: 100%;
    min-height: 700px;
    background-repeat: no-repeat;
}
.top-banner-contenar{
    position: absolute;
    width: 100%;
    min-height: 600px;
    background: rgba(61, 40, 40, 0.4);

}
.banner-contenar{
    color: #fff;
    text-align: center;
    margin-top: 200px;
}
.banner-contenar h4{
    font-size: 30px;
    font-weight: normal;
    background-color: orange;
    width: 300px;
    margin: auto;
    border-radius: 25px;
    padding: 5px;
}
.banner-contenar h2{
    font-size: 60px;
}
.banner-contenar p{
    font-size: 20px;
    margin-top: 10px;
}